extends ../layout

block content
    h1 Authors
    a(href= '/authors/add') Add New Author
    table
        thead
            tr
                th First Name
                th Last Name
                th Date Of Birth
                th
        tbody
            each author in authors
                tr
                    td= author.first_name
                    td= author.last_name
                    td= author.dot
                    td
                        a(href=`/authors/profile/${author.id}`) View Author