mixin bookForm(books, genres, saveUrl, cancelUrl)

    div.form-conteiner
        form(action=saveurl method='post')
            div.form-input
                label(for='title') Book Title
                input(id= 'title' name= 'title' value= book.title)

            div.form-input
                label(for='author') Author
                input(id= 'author' name= 'author' value= book.author)

            div.form-input
                label(for='publisher') Publisher
                input(id= 'publisher' name= 'publisher' value= book.publisher)

            div.form-input
                label(for='genre') Genre
                select(id='genre' name='genre' value = book.genre)
                    each genre in genres
                        option(value= genre selected= (genre === book.genre)) #{genre}

            div.form-input
                label(for='pg_number') Page Number
                input(id= 'pg_number' name= 'pg_number' value= book.pg_number)

            div.form-input
                label(for='image') Cover Link
                input(id= 'image' name= 'image' value= book.image)

            div.form-input
                label(for='description') Book Description
                textarea(id= 'description' name='description' rows=10 columns=80) #{book.description}

            div.form-buttons
                a.button(href=cancelUrl) Cancel
                button.button.primary(type='submit') Save